#map{
    height: 400px;
}

.sign-in{
    padding: 2rem;
}

.sign-in img{
    width: 2rem;
    height: 2rem;
    padding-left: .5rem;
}

.link-container{
    display: flex;
    flex-direction: row;
     background-color: #2d2f81;
     justify-self: flex-start;
     align-items: center;
     padding: .5rem 1rem .5rem 1rem;
     cursor: pointer;
}

.link-container a{
    color: white;
    text-decoration: none;
}

.data-container{
    display: flex;
    align-items: center;
    border: solid 1px black;
}

.hidden {
    display: none;
}

.logout a{
    color: black;
}

.data-img img{
    width: 2rem;
    height: 2rem;
}

.data-img-pop img{
    width: 1rem;
    height: 1rem;
}